*{
    padding: 0;
    margin: 0;
}
.main{
    .container{
        max-width: 1310px;
        width: 100%;
        padding: 15px 0;
        margin: 0 auto;
        box-sizing: border-box;
        .main_header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header_left{
                display: flex;
                align-items: center;
                width: 50%;
                .loga_name{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                    text-transform: uppercase;
                    color: #000000;
                    margin-left: 9px;
                }
            }
            .header_right{
                width: 50%;
                .menu{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    align-items: center;
                    .menu_item{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: -0.01em;
                        color: #000000;
                        cursor: pointer;
                        &-btn{
                            background: #203F9F;
                            border-radius: 200px;
                            padding: 18px 33px 21px 33px ;
                            color: #FFFFFF;
                        }
                    }   
                }
            }
        }
    }
        .main_part{
            width: 100%;
            padding-top: 70px;
            padding-bottom: 50px;
            background-image: url('../../images/Rectangle 6.png');
            background-position:center;
            background-repeat: no-repeat;
            background-size: cover;
            &_top{
                margin-bottom: 258px;
                display: flex;
                &_item{
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                    max-width: 248px;
                    width: 100%;
                    margin-right: 90px;
                }
            }
            &_middle{
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 400;
                font-size: 80px;
                line-height: 90px;
                letter-spacing: -0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 50px;
                width: 77%;
            }
            &_btn{
                display: flex;
                &_item{
                    background-color: unset;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #FFFFFF;
                    padding: 17px 30px 16px 30px ;
                    border: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 200px;
                    margin-right: 10px;
                    cursor: pointer;
                    &:hover{
                        background: #203F9F;
                        border-radius: 200px;
                    }
                }
            }
        }
        .slider_part{
            padding-top: 100px;
            .slider_fist{
                margin-bottom: 100px;
            }
            .slider_second{
                border-top: 1px solid #000000;
                overflow: hidden;
                &:nth-last-child(1){
                    border-bottom: 1px solid #000000;
                    margin-bottom: 200px;
                }
                .container{
                    padding-top: 0 !important;
                    padding-bottom: 0 !important; 
                    .slider_second_inner{
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        width: 1920px;
                        .slider_second_detail{
                            width: 35%;
                            padding-right: 102px;
                            padding-left: 50px;
                            border-right:  1px solid #000000;
                            &_title{
                                font-family: 'SF Pro Display';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 40px;
                                line-height: 50px;
                                letter-spacing: -0.03em;
                                color: #000000;
                                margin-bottom: 12px;
                            }
                            &_text{
                                font-family: 'SF Pro Display';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 30px;
                                letter-spacing: -0.01em;
                                color: #000000;
                                margin-bottom: 30px;
                            }
                            &_btn{
                                font-family: 'SF Pro Display';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 21px;
                                letter-spacing: -0.01em;
                                text-decoration: none;
                                padding: 12px 30px;
                                color: #FFFFFF;
                                background: #203F9F;
                                border: 1px solid #FFFFFF;
                                box-sizing: border-box;
                                border-radius: 200px;
                                margin-bottom: 273px;
                                display: inline-block;
                            }
                            &_image{
                                @include detail_text;
                            }
                            &_btn_carusel{
                                margin-bottom: 40px;
                                &_item{
                                    @include btn ;

                                }
                            }
                        }
                        .slider_second_slider{
                            width: 1400px;
                            padding: 16px ;
                        }
                    }
                }
            }
        }
        .detail{

            &:nth-last-child(1){
                .detail_item{
                    border-bottom: 1px solid #000000;
                    margin-bottom: 200px;
                }

            }
            .container{
                .detail_item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid #000000;
                    padding: 40px 50px 60px 0;

                    &_inner{
                        width: 50%;
                        .title{
                            font-family: 'SF Pro Display';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 60px;
                            line-height: 50px;
                            letter-spacing: -0.03em;
                            color: #000000;
                            margin-bottom: 134px;
                        }
                        .button{
                            font-family: 'SF Pro Display';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 21px;
                            letter-spacing: -0.01em;
                            color: #000000;
                            border: 1px solid #000000;
                            box-sizing: border-box;
                            border-radius: 200px;
                            padding: 12px 30px ;
                            text-decoration: none;
                        }
                    }
                    &_right{
                        width: 25%;
                        .text{
                            font-family: 'SF Pro Display';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 30px;
                            letter-spacing: -0.01em;
                            color: #000000;
                        }
                        .icon{
                            margin-bottom: 23px;
                        }
                        .button{
                            font-family: 'SF Pro Display';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 21px;
                            letter-spacing: -0.01em;
                            color: #000000;
                            border: 1px solid #000000;
                            box-sizing: border-box;
                            border-radius: 200px;
                            padding: 12px 30px ;
                            text-decoration: none;
                            display: none;
                        }
                    }
                }
            }
        }
        .help_part{
            margin-bottom: 200px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .help_part_inner{
                width: 50%;
                .help_part_inner_img{
                    width: 100%;
                }
                .text_top{
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    margin-bottom: 60px;
                }
                .title{
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 70px;
                    letter-spacing: -0.03em;
                    color: #000000;
                    margin-bottom: 20px;
                    span{
                        color: blue;
                    }
                }
                .text{
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    margin-bottom: 75px;
                }
                span{
                    display: flex;
                    align-items: center;
                    .button{
                        border: 1px solid #000000;
                        box-sizing: border-box;
                        border-radius: 50%;
                        background-color: unset;
                        padding: 25px;
                    }
                    .button_text{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        letter-spacing: -0.01em;
                        color: #000000;
                        margin-left: 18px;

                    }
                }
            }
        }
        .video_about_us{
            margin-bottom: 200px;
            &_title{
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 400;
                font-size: 60px;
                line-height: 70px;
                letter-spacing: -0.03em;
                color: #000000;
                margin-bottom: 30px;
            }
            &_item{
                width: 49.8%;
                .video{
                   width: 100%;
                }
            }
            span{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .Testimonials{
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            margin-bottom: 200px;
            .container{
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .Testimonials_left{
                    width: 40%;
                    border-right:  1px solid #000000;
                    padding: 40px 0;
                    .left_title{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 60px;
                        line-height: 50px;
                        letter-spacing: -0.03em;
                        color: #000000;
                        margin-bottom: 310px;

                    }
                    .left_member{
                        @include detail_text;
                    }
                    .left_btn{
                        .left_btn_item{
                            @include btn;
                        }
                    }
                }
                .slider_member{
                    width: 60%;
                    padding: 40px 0px 40px 40px;
                    .member_inner{
                        display: flex ;
                        align-items: flex-end ; 
                        width: 740px;
                        .member_detail{
                            .member_title{
                                font-family: 'SF Pro Display';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 24px;
                                letter-spacing: -0.01em;
                                color: #000000;
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 20px;
                                span{
                                    font-weight: 300;
                                }
                            }
                            .member_text{
                                font-family: 'SF Pro Display';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 40px;
                                line-height: 50px;
                                letter-spacing: -0.03em;
                                color: #000000;
                            }
                        }
                        .member_img{
                            margin-right: 40px;
                        }
                    }

                }
            }
        }
        .news_part{
            margin-bottom: 200px;
            .news_part_title{
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                .title{
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 50px;
                    letter-spacing: -0.03em;
                    color: #000000;
                }
                .btn{
                    border: 1px solid #000000;
                    box-sizing: border-box;
                    border-radius: 200px;
                    padding: 12px 30px;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    text-decoration: none;
                }
            }
            .news_part_inner{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                span{
                    &:nth-child(1){
                        
                            width: 50%;
                    }
                    &:nth-child(2){
                        
                            width: 27%;
                    }
                    &:nth-child(3){
                        
                            width: 25%;
                    }
                    .img{
                        width: 98%;
                    }

                    .text{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: -0.01em;
                        color: #000000;
                    }
                }
                .btn2{
                    border: 1px solid #000000;
                    box-sizing: border-box;
                    border-radius: 200px;
                    padding: 12px 30px;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    text-decoration: none;
                    width: 100%;
                    text-align: center;
                    display: none;
                }
            }
        }
        .footer{
            padding-bottom: 50px;
            .footer_top{
                margin-bottom: 51px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
                .get_name{
                    width: 40%;
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    border: 0;
                    padding: 20px 0px 20px 10px;
                    &:focus{
                        outline: none;
                    }

                }
                .select{
                    width: 40%;
                    padding: 20px 0px 20px 0px;
                    border-left: 1px solid #000000;
                    border-right: 1px solid #000000;
                    position: relative;
                    .visible_part{
                        padding-right: 50px;
                        padding-left: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .visible_part_item{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: -0.01em;
                        color: #000000;
                    }
                    .select_part{
                        list-style: none;
                        display: none;
                        position: absolute;
                        top: 70px;
                        background: #FFFFFF;
                        width: 100%;
                        box-shadow: 0px 5px 20px rgba(144, 158, 187, 0.3);
                        .select_part_item{
                            margin-left: 20px;
                            padding: 10px;
                            font-family: 'SF Pro Display';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 28px;
                            letter-spacing: -0.01em;
                            color: #000000;
                        }
                    }
                }
                .btn{
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #FFFFFF;
                    padding: 12px 30px ;
                    background: #203F9F;
                    border-radius: 200px;
                    text-decoration: none;
                    margin-right: 20px;
                }
            }
            .footer_bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .footer_bottom_left{
                    .logo{
                        margin-bottom: 23px;
                        display: flex;
                        align-items: center;
                        .logo_text{
                            font-family: 'SF Pro Display';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: -0.02em;
                            text-transform: uppercase;
                            color: #000000;
                        }
                        .logo_img{
                            margin-right: 9px;
                        }
                    }
                    .text_logo{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: -0.01em;
                        color: #000000;
                        margin-bottom: 61px;
                    }
                    .footer_menu{
                        display: flex;
                        justify-content: space-between;
                        list-style: none;
                        .footer_menu_item{
                            a{
                                font-family: 'SF Pro Display';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 28px;
                                letter-spacing: -0.01em;
                                color: #000000;
                                text-decoration: none;
                            }

                        }
                    }
                }
                .footer_bottom_middle{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    &_title{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: -0.01em;
                        color: #000000;
                        margin-bottom: 22px;
                    }
                    &_link{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: -0.01em;
                        color: #000000;
                        margin-bottom: 18px;
                    }

                }  
                .footer_bottom_right{
                    .contact_title{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: -0.01em;
                        color: #000000;
                        margin-bottom: 32px;
                    }
                    .contact_num{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 40px;
                        line-height: 60px;
                        letter-spacing: -0.01em;
                        color: #000000;
                        margin-bottom: 2px;
                    }
                    .contact_email{
                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 40px;
                        line-height: 60px;
                        letter-spacing: -0.01em;
                        text-decoration-line: underline;
                        color: #000000;
                    }

                }     
            }
        }

}
.show{
    display: block !important;
}
.btn_hamburger1, .btn_hamburger2, .btn_hamburger3 {
    width: 40px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.3s;
  }
.hamburger_menu{
    margin-left: 20px;

    &.active{
        .btn_hamburger1 {
            transform: rotate(-45deg) translate(-6px, 4px);
          }
          
          .btn_hamburger2 {
              opacity: 0;
          }
          
          .btn_hamburger3 {
            transform: rotate(45deg) translate(-8px, -6px);
          }
    }
}
@media only screen and (max-width:1200px) {
    .main .container .main_header{
        justify-content: space-around;
        align-items: center;
    }
    .main .container .main_header .header_right {
        width: auto;
    }
    .main .container .main_header .header_right .menu{
        width: auto;
    }
    .main .container .main_header .header_left{
        width: auto;
    }
    .main .slider_part .slider_second .container .slider_second_inner .slider_second_detail {
        width: 12%;
        padding-right: 50px;
        padding-left: 20px;
    }
    .main .slider_part .slider_second .container .slider_second_inner .slider_second_detail_btn{
        margin-bottom: 212px;
    }
    .main .slider_part .slider_second .container .slider_second_inner{
        justify-content: unset;
    }
     .main .container{
         padding: 15px 10px;
     }
     .main .Testimonials .container{
         padding: 15px 10px ;
     }
     .main .Testimonials .container .slider_member .member_inner{
         width: 100%;
     }
     .main .container .main_header .header_right .menu .menu_item{
        margin-left: 20px;
    }
    .main .help_part{
        flex-direction: column-reverse;
        align-items: center;
    }
    .main .help_part .help_part_inner{
        width: auto;
        margin-bottom: 40px;
    }
    
}
@media only screen and (max-width:987px) {

    .main .container .main_header{
        justify-content: space-between;
    }
    .main .slider_part .slider_second .container .slider_second_inner{
        flex-direction: column;
        width: auto;
    }

    .main .slider_part .slider_second .container .slider_second_inner .slider_second_detail{
        width: auto;
        border-right: 0px;
    }
    .main .Testimonials .container {
        flex-direction: column;
        align-items: center;
    }
    .main .Testimonials .container .Testimonials_left {
        width: 100%;
        border-right: 0px;
    }
    .main .Testimonials .container .slider_member{
        width: 100%;
    }
    .main .footer .footer_top{
        flex-direction: column;
        align-items: flex-start;
        border-top: 0px;
        border-bottom: 0px;
    }
    .main .footer .footer_top .select{
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 0px;
        border-right: 0px;
        width: 100%;
        margin-bottom: 31px;
    }
    .main .footer .footer_top .get_name{
        border-top: 1px solid #000000;
        width: 99%;
    }
    .main .footer .footer_bottom{
        flex-direction: column;
    }
    .footer_bottom_right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_bottom_left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media only screen and (max-width:750px) {
    .main{
        .container{ 
            .main_header{ 
                .header_right {
                    .menu{
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        background: #FFFFFF;
                        left: 0;
                        top: 80px;
                        width: 100%;
                        .menu_item{
                            margin-bottom: 30px;
                        }
                    }
                 }
             }
         }
    }
    .hamburger_menu{
        display: block;
    }
    .main .detail .container .detail_item{
        justify-content: center;
    }
    .main .detail .container .detail_item_right{
        width: 50%;
    }
}
@media only screen and (max-width:500px) {
    .main .main_part_middle{
        font-size: 40px;
        line-height: 50px;
    }
    .main .main_part_top{
        flex-direction: column;
    }
    .main .main_part_top_item{
        margin-bottom: 40px;
    }
    .main .detail .container .detail_item{
        flex-direction: column;
        align-items: center;
    }
    .main .detail .container .detail_item_right{
        width: 100%;
    }
    .main .detail .container .detail_item_inner{
        width: 100%;
    }
    .main .news_part .news_part_inner{
        flex-direction: column;
        align-items: center;
    }
    .main .news_part .news_part_inner span:nth-child(1){
        width: 100%;
    }
    .main .news_part .news_part_inner span:nth-child(2){
        width: 100%;
    }
    .main .news_part .news_part_inner span:nth-child(3){
        width: 100%;
    }
    .main .footer .footer_top .select .visible_part{
        padding-left: 10px;
        padding-right: 10px;
    }
    .main .news_part .news_part_title .btn{
        display: none;
    }
    .main .news_part .news_part_inner span .text{
        margin-bottom: 60px;
    }
    .main .news_part .news_part_inner .btn2{
        display: block;
    }
    .main .video_about_us span{
        flex-direction: column;
        align-items: center;
    }
    .main .video_about_us_item{
        width: 100%;
        margin-bottom: 15px;
    }
    .main .Testimonials .container .slider_member .member_inner{
        flex-direction: column;
        align-items: flex-start;
    }
    .main .detail .container .detail_item_right .button{
        display: block;
        margin-top: 50px;
    }
    .main .detail .container .detail_item_inner .button{
        display: none;
    }
    .main .detail .container .detail_item_right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .main .slider_part .slider_second .container .slider_second_inner .slider_second_detail_title{
        font-size: 32px;
        line-height: 42px;
    }
    .main .detail .container .detail_item_inner .title{
        font-size: 36px;
        line-height: 46px;
    }
    .main .help_part .help_part_inner .title{
        font-size: 36px;
        line-height: 46px;
    }
    .main .video_about_us_title{
        font-size: 36px;
        line-height: 46px;
    }
    .main .Testimonials .container .Testimonials_left .left_title{
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 136px;
    }
    .main .news_part .news_part_title .title{
        font-size: 36px;
        line-height: 46px;
    }
    .main .footer .footer_bottom .footer_bottom_right .contact_num{
        font-size: 32px;
        line-height: 42px;
    }
    .main .footer .footer_bottom .footer_bottom_right .contact_email{
        font-size: 32px;
        line-height: 42px;
    }
    .main .Testimonials .container .slider_member .member_inner .member_detail .member_text{
        font-size: 32px;
        line-height: 42px;

    }
    .main .Testimonials .container .slider_member{
        padding: 0px;
    }
    .main .slider_part .slider_second .container .slider_second_inner .slider_second_slider{
        .slick-slide img{
            width: 307px !important;
        }
    }

    .main .slider_part .slider_second .container .slider_second_inner .slider_second_slider{
        width: 670px; 
        padding: 15px 5px;
    }

}